@model IEnumerable<AccessControlSystem.Models.EmployeeLog>
@{
    ViewData["Title"] = "Employee Attendance";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Network Configurations&trade;</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="card border-0 shadow my-5" style="min-height: 78vh;">
            <div class="card-body p-5 form-group justify-content-center">
                <h2 class="font-weight-light text-center">Employee Attendance History for @ViewBag.EmployeeName</h2>
                <h5 class="font-weight-light text-center">@ViewBag.Error</h5>
                <hr />
                <h3 class="font-weight-light text-center">@ViewBag.History</h3>
                @foreach (var item in Model)
                {
                    <div class="table-responsive-xl">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">
                                        Date:
                                    </th>
                                    <th scope="col">
                                        Time In:
                                    </th>
                                    <th scope="col">
                                        Time Out:
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateLog)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TimeIn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TimeOut)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
