@{
    ViewData["Title"] = "Employee Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Network Configurations&trade;</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="card border-0 shadow my-5" style="min-height: 78vh;">
            <div class="card-body p-5 form-group justify-content-center align-self-center">
                <h2 class="font-weight-light text-center">Welcome to the Employee Dashboard @ViewBag.LoggedIn</h2>
                <h5 class="font-weight-light text-center">@ViewBag.Error</h5>
                <h5 class="font-weight-light text-center">@TempData["CheckedIn"]</h5>
                <h5 class="font-weight-light text-center">@TempData["SignedOut"]</h5>
                <h5 class="font-weight-light text-center">@TempData["NotOvertime"]</h5>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card" style="width: auto;">
                                <img src="~/lib/bootstrap/dist/img//checkin.png" class="card-img-top img-fluid">
                                <div class="card-body">
                                    <h5 class="card-title">Check In or Out</h5>
                                    <p class="card-text">Gives you the option to check in or out</p>
                                    <a asp-action="CheckIn" asp-controller="Employee" class="btn btn-secondary">View Page</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card" style="width: auto;">
                                <img src="~/lib/bootstrap/dist/img/overtime.png" class="card-img-top img-fluid" alt="Overtime">
                                <div class="card-body">
                                    <h5 class="card-title">Log Overtime</h5>
                                    <p class="card-text">Gives you the option to log an overtime ticket</p>
                                    <a asp-action="OvertimeTicket" asp-controller="Employee" class="btn btn-secondary">View Page</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card" style="width: auto;">
                                <img src="~/lib/bootstrap/dist/img/history.png" class="card-img-top img-fluid" alt="OvertimeHistory">
                                <div class="card-body">
                                    <h5 class="card-title">Overtime Ticket History</h5>
                                    <p class="card-text">View your Overtime History and see if they have been approved</p>
                                    <a asp-action="Statistics" asp-controller="Admin" class="btn btn-secondary">View Page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
