@model IEnumerable<AccessControlSystem.Models.Employee>
@{
    ViewData["Title"] = "Employee Code";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Network Configurations&trade;</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <form>
        <div class="container-fluid">
            <div class="card border-0 shadow my-5" style="min-height: 78vh;">
                <div class="card-body p-5 justify-content-center align-self-center" style="margin-top: 10vh">
                    <h2 class="font-weight-light text-center">Welcome back to Network Configurations&trade;</h2>
                    <h5 class="font-weight-light text-center">@TempData["Invalid"]</h5>
                    <h5 class="font-weight-light text-center">@TempData["Exception"]</h5>
                    <hr />
                    <div class="form-group text-center">
                        <label for="empName">Choose an Employee Name:</label>
                        <br />
                        <select class="form-select btn-outline-info rounded" style="min-width: 28.5vh; max-width: 35vh; min-height: 5vh;" id="empName" name="name">
                            @foreach (var item in Model)
                            {
                                <option value="@item.EmployeeName">@item.EmployeeName</option>
                            }
                        </select>
                        <br />
                        <br />
                        <label for="inputEmployee">Enter your 4-Digit Employee Pass Code:</label>
                        <br />
                        <div class="form-wrap">
                        <input type="password" style="min-height: 5vh; max-width: 7vh; text-align: center; font-size: 24px; font-weight: bold" name="one" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                        <input type="password" style="min-height: 5vh; max-width: 7vh; text-align: center; font-size: 24px; font-weight: bold" name="two" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required/>
                        <input type="password"style="min-height: 5vh; max-width: 7vh; text-align: center; font-size: 24px; font-weight: bold" name="three" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required/>
                        <input type="password" style="min-height: 5vh; max-width: 7vh; text-align: center; font-size: 24px; font-weight: bold" name="four" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                        </div>
                        <br />
                        <button type="submit" class="btn btn-lg btn-outline-dark" formmethod="post">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
