@model IEnumerable<AccessControlSystem.Models.OvertimeTicket>
@{
    ViewData["Title"] = "Logged Overtime Tickets";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Network Configurations&trade;</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="card border-0 shadow my-5" style="min-height: 78vh;">
            <div class="card-body p-5 form-group justify-content-center align-self-center">
                <h2 class="font-weight-light text-center">Logged Overtime Tickets</h2>
                <hr />
                <h3 class="font-weight-light text-center">@ViewBag.History</h3>
                <h5 class="font-weight-light text-center">@ViewBag.Error</h5>
                <br />
                @foreach (var item in Model)
                {
                    <div class="table-responsive-xl">
                        <table class="table">
                            <tr>
                                <th scope="col">
                                    Ticket Date:
                                </th>
                                <th scope="col">
                                    Ticket Hours:
                                </th>
                                <th scope="col">
                                    Ticket Approved:
                                </th>
                                <th scope="col">
                                    Approved by whom:
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketHours) HOUR(s)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Approved)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApprovedByWhom)
                                </td>
                            </tr>
                        </table>
                    </div>
                }
                </div>
        </div>
    </div>
</body>
</html>
